# Shared
NODE_ENV=development

# Database
DATABASE_URL=postgresql://wemepet:wemepet@localhost:5432/wemepet?schema=public
REDIS_URL=redis://localhost:6379

# Auth (OIDC)
AUTH_JWKS_URL=https://YOUR_DOMAIN/.well-known/jwks.json
AUTH_ISSUER=https://YOUR_DOMAIN/
AUTH_AUDIENCE=wemepet-api
CORS_ORIGIN=http://localhost:3000,http://localhost:5173

# S3
S3_REGION=ap-southeast-1
S3_BUCKET=wemepet-media
S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY=minio
S3_SECRET_KEY=minio123
S3_FORCE_PATH_STYLE=true
CDN_BASE_URL=http://localhost:9000/wemepet-media

# Web
NEXT_PUBLIC_API_BASE_URL=http://localhost:4000/api/v1
NEXT_PUBLIC_APP_ENV=development
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=
